<launch>
    <!-- Generic tracking V2:
         fake_object(back-and-forth) -> /object_odom -> generic tracking task -> PlannerEngine -->
    <arg name="map_size_x" default="200.0"/>
    <arg name="map_size_y" default="200.0"/>
    <arg name="map_size_z" default="3.0"/>
    <arg name="odom_topic" default="visual_slam/odom"/>
    <arg name="launch_prefix" default=""/>

    <arg name="init_x" default="-5.0"/>
    <arg name="init_y" default="-1.0"/>
    <arg name="init_z" default="1.2"/>

    <arg name="obs_num" default="30"/>
    <arg name="circle_num" default="5"/>
    <arg name="obs_lower_rad" default="0.45"/>
    <arg name="obs_upper_rad" default="0.62"/>
    <arg name="obs_min_distance" default="1.4"/>

    <!-- Keep the default test simple and stable: plain tracking.
         You can still override these from command line. -->
    <arg name="use_esdf" default="false"/>
    <arg name="use_sfc_corridor" default="true"/>
    <arg name="enable_esdf" default="false"/>

    <arg name="tracking_target_odom_topic" default="/object_odom"/>
    <arg name="tracking_reference_topic" default="/unused_tracking_reference"/>
    <!-- Tracking offset is expressed in the target Frenet frame:
         x: along target velocity, y: left lateral, z: vertical.
         The default follows Elastic-Tracker's "proper viewing distance" idea
         with a rear anchor instead of circling around the target. -->
    <arg name="tracking_relative_offset_x" default="-2.75"/>
    <arg name="tracking_relative_offset_y" default="0.0"/>
    <arg name="tracking_relative_offset_z" default="0.0"/>

    <arg name="object_motion_mode" default="line"/>
    <arg name="object_center_x" default="0.0"/>
    <arg name="object_center_y" default="0.0"/>
    <arg name="object_center_z" default="1.0"/>
    <arg name="object_radius" default="2.2"/>
    <arg name="object_angular_speed" default="0.35"/>
    <arg name="object_line_length" default="16.0"/>
    <arg name="object_line_speed" default="0.9"/>
    <arg name="object_line_heading_deg" default="0.0"/>
    <arg name="object_line_start_x" default="-8.0"/>
    <arg name="object_line_start_y" default="-4.5"/>
    <arg name="object_line_start_z" default="1.0"/>
    <arg name="object_line_end_x" default="8.0"/>
    <arg name="object_line_end_y" default="4.5"/>
    <arg name="object_line_end_z" default="1.0"/>
    <arg name="object_figure8_radius" default="2.0"/>
    <arg name="object_noise_std" default="0.0"/>

    <node pkg="map_generator" name="random_forest" type="random_forest" output="screen">
        <param name="map/x_size" value="20"/>
        <param name="map/y_size" value="15"/>
        <param name="map/z_size" value="3"/>
        <param name="map/resolution" value="0.1"/>
        <param name="ObstacleShape/seed" value="2"/>
        <param name="map/obs_num" value="$(arg obs_num)"/>
        <param name="ObstacleShape/lower_rad" value="$(arg obs_lower_rad)"/>
        <param name="ObstacleShape/upper_rad" value="$(arg obs_upper_rad)"/>
        <param name="ObstacleShape/lower_hei" value="0.0"/>
        <param name="ObstacleShape/upper_hei" value="3.0"/>
        <param name="map/circle_num" value="$(arg circle_num)"/>
        <param name="ObstacleShape/radius_l" value="0.6"/>
        <param name="ObstacleShape/radius_h" value="0.5"/>
        <param name="ObstacleShape/z_l" value="0.7"/>
        <param name="ObstacleShape/z_h" value="0.8"/>
        <param name="ObstacleShape/theta" value="0.5"/>
        <param name="pub_rate" value="1.0"/>
        <param name="min_distance" value="$(arg obs_min_distance)"/>
    </node>

    <include file="$(find fake_object)/launch/object_run.launch">
        <arg name="motion_mode" value="$(arg object_motion_mode)"/>
        <arg name="center_x" value="$(arg object_center_x)"/>
        <arg name="center_y" value="$(arg object_center_y)"/>
        <arg name="center_z" value="$(arg object_center_z)"/>
        <arg name="radius" value="$(arg object_radius)"/>
        <arg name="angular_speed" value="$(arg object_angular_speed)"/>
        <arg name="line_length" value="$(arg object_line_length)"/>
        <arg name="line_speed" value="$(arg object_line_speed)"/>
        <arg name="line_heading_deg" value="$(arg object_line_heading_deg)"/>
        <arg name="line_start_x" value="$(arg object_line_start_x)"/>
        <arg name="line_start_y" value="$(arg object_line_start_y)"/>
        <arg name="line_start_z" value="$(arg object_line_start_z)"/>
        <arg name="line_end_x" value="$(arg object_line_end_x)"/>
        <arg name="line_end_y" value="$(arg object_line_end_y)"/>
        <arg name="line_end_z" value="$(arg object_line_end_z)"/>
        <arg name="figure8_radius" value="$(arg object_figure8_radius)"/>
        <arg name="noise_std" value="$(arg object_noise_std)"/>
        <arg name="yaw_align_velocity" value="true"/>
    </include>

    <node pkg="odom_visualization" name="object_odom_visualization" type="odom_visualization" output="screen">
        <remap from="~odom" to="$(arg tracking_target_odom_topic)"/>
        <param name="color/a" value="1.0"/>
        <param name="color/r" value="0.05"/>
        <param name="color/g" value="0.85"/>
        <param name="color/b" value="1.0"/>
        <param name="covariance_scale" value="50.0"/>
        <param name="robot_scale" value="0.45"/>
        <param name="tf45" value="false"/>
        <param name="drone_id" value="99"/>
    </node>

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
        <arg name="drone_id" value="0"/>
        <arg name="init_x" value="$(arg init_x)"/>
        <arg name="init_y" value="$(arg init_y)"/>
        <arg name="init_z" value="$(arg init_z)"/>
        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
        <arg name="launch_prefix" value="$(arg launch_prefix)"/>
        <arg name="flight_type" value="3"/>
        <arg name="point_num" value="1"/>
        <arg name="target0_x" value="0.0"/>
        <arg name="target0_y" value="0.0"/>
        <arg name="target0_z" value="0.0"/>
        <arg name="use_tracking_task" value="true"/>
        <arg name="tracking_reference_topic" value="$(arg tracking_reference_topic)"/>
        <arg name="tracking_target_odom_topic" value="$(arg tracking_target_odom_topic)"/>
        <arg name="tracking_relay_goal" value="false"/>
        <arg name="tracking_target_goal_topic" value="/tracking/target_goal"/>
        <arg name="tracking_relative_offset_x" value="$(arg tracking_relative_offset_x)"/>
        <arg name="tracking_relative_offset_y" value="$(arg tracking_relative_offset_y)"/>
        <arg name="tracking_relative_offset_z" value="$(arg tracking_relative_offset_z)"/>
        <arg name="use_sfc_corridor" value="$(arg use_sfc_corridor)"/>
        <arg name="use_esdf" value="$(arg use_esdf)"/>
        <arg name="enable_esdf" value="$(arg enable_esdf)"/>
    </include>

    <node name="rviz" pkg="rviz" type="rviz" output="screen"
          args="-d $(find ego_planner)/launch/include/default_tracking.rviz"/>
</launch>
